name: Continuous Delivery - OrganizadorAtividades
on:
  push:
    branches: 
      - main

jobs:
  deliver:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Simulando Continuous Delivery
        uses: actions/upload-artifact@v4
        with:
          name: projetodevops
          path: |
            **.py
            **.json
            README.md

  deploy:
    runs-on: ubuntu-latest
    needs: deliver
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: projetodevops
      - name: Display structure of downloaded files
        run: ls -R

      - name: Configure DockerHub credentials
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
      
        - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/organizador-atividades:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/organizador-atividades:latest
        
